{% block body %}
<h1>Visa kortleken</h1>

<p>Här är kortleken</p>

{# <ul> #}
    {# <li>{{ dump(deck) }}</li> #}
    {# <li>{{ cards }}</li> #}
<table class="full_deck">
{% for value in cards %}
    <span class="cards"> {{ value }} </span>
{% endfor %}
</table>

<table class="full_deck">
{% for value in cards|batch(4) %}
    <tr>
        {% for index, column in value %}
            <td> {{ index }} - {{ column }} </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>


    {# <li>{{ dump(deckString) }}</li> #}
    {# {{ app.session.get('deck') }} #}
{# </ul> #}

{{ dump(app.session.all) }}

{% endblock %}