{% extends "base.html.twig" %}

{% block title %}Cardgame{% endblock %}

{% block body %}
<h1>Kort på handen</h1>

<p>Du har {{ num_cards }} kort kvar i kortleken.
<p>Detta/dessa kort har du på handen:</p>

{% if( newhand ) %}
<div class="full_deck">
 {% for value in newhand|batch(4) %}  {# |batch(4) #}
             {% for column in value %} 
                 {% if '♠' in column %} 
                    <div class="card_♠">           
                    {{ column }}
                    </div>
                {% elseif '♥' in column %}
                    <div class="card_♥"> 
                    {{ column }}
                    </div>
                {% elseif '♦' in column %}
                    <div class="card_♦"> 
                    {{ column }}
                    </div>
                {% else %}
                    <div class="card_♣"> 
                    {{ column }}
                    </div>
                {% endif %}
            {% endfor %}
        
{% endfor %} 
</div>
{% else %}
<p>Kortleken behöver initieras, gör det med denna <a href="{{ path('init_deck') }}">länk</a> </p>
{% endif %}
{# 
 session: {{ dump(app.session.all) }}
 num: {{ dump(num) }}
hand: {{ dump(hand) }}
rem: {{ dump(rem) }}
deck: {{ dump(deck) }}
 deckremoval: {{ dump(deckforremoval) }} 
 {# Shuffle: {{ dump(shuffle) }} #}
{# deckrem: {{ dump(deckrem) }} #}
{# newhand: {{ dump(newhand) }}
handold: {{ dump(oldhand) }} 
newdeck: {{ dump(newdeck) }}  #}
{# test: {{ dump(test) }} #}
{# num cards: {{ dump(num_cards) }}  #}



{% include "footer.html.twig" %}

{% endblock %}
