{% extends "base.html.twig" %}

{% block title %}Cardgame{% endblock %}

{% block body %}
<h1>Kort på handen</h1>

<p>Dessa kort har du på handen</p>




 {# '♠', '♥', '♦', '♣' #}

{% if( hand ) %}
<div class="full_deck">
{% for value in hand|batch(4) %} {# |batch(4) #}
            {% for column in value %}
                 {% if '♠' in column %} 
                    <div class="card_♠">           
                    {{ column }}
                    </div>
                {% elseif '♥' in column %}
                    <div class="card_♥"> 
                    {{ column }}
                    </div>
                {% elseif '♦' in column %}
                    <div class="card_♦"> 
                    {{ column }}
                    </div>
                {% else %}
                    <div class="card_♣"> 
                    {{ column }}
                    </div>
                {% endif %}
            {% endfor %}
        
{% endfor %}
</div>
{% else %}
<p>Kortleken behöver initieras, gör det med denna <a href="{{ path('init_deck') }}">länk</a> </p>
{% endif %}


session: {{ dump(app.session.all) }}
hand: {{ dump(hand) }}
{# cut: {{ dump(cut) }} #}
deck: {{ dump(deck) }}
deckarray: {{ dump(deckarray) }}
Shuffle: {{ dump(shuffle) }}


{% include "footer.html.twig" %}

{% endblock %}
