{% extends "base.html.twig" %}

{% block title %}Cardgame{% endblock %}

{% block body %}
<h1>Visa Jokrar</h1>

<p>Här är jokrarna</p>




 {# '♠', '♥', '♦', '♣' #}

{% if( jokers ) %}
<div class="full_deck">
{% for value in jokers|batch(4) %}  {# |batch(4) #}
            {% for column in value %}
                 {% if '♠' in column %} 
                    <div class="card_♠">           
                    {{ column }}
                    </div>
                {% elseif '♥' in column %}
                    <div class="card_♥"> 
                    {{ column }}
                    </div>
                {% elseif '♦' in column %}
                    <div class="card_♦"> 
                    {{ column }}
                    </div>
                {% else %}
                    <div class="card_♣"> 
                    {{ column }}
                    </div>
                {% endif %}
            {% endfor %}
{% endfor %}
{# {% for value in deck|batch(4) %}  {# |batch(4) #}
            {# {% for column in value %}
                 {% if '♠' in column %} 
                    <div class="card_♠">           
                    {{ column }}
                    </div>
                {% elseif '♥' in column %}
                    <div class="card_♥"> 
                    {{ column }}
                    </div>
                {% elseif '♦' in column %}
                    <div class="card_♦"> 
                    {{ column }}
                    </div>
                {% else %}
                    <div class="card_♣"> 
                    {{ column }}
                    </div>
                {% endif %}
            {% endfor %}
        
{% endfor %} #} 
</div>
{% else %}
<p>Kortleken behöver initieras, gör det med denna <a href="{{ path('init_deck') }}">länk</a> </p>
{% endif %}


{# session: {{ dump(app.session.all) }}
deck: {{ dump(deck) }}
jokers: {{ dump(jokers) }} #}
{# cards: {{ dump(cards) }} #}

{% include "footer.html.twig" %}

{% endblock %}
