<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Välkommen!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <header class="site-header" style="background-image: url({{ asset('img/header.png') }})">
            <span class="site-title">Min MVC hemsida</span>
            <nav class="nav">
                <ul>
                    <li><a href="{{ path('home') }}">Hem</a></li>
                    <li><a href="{{ path('about') }}">Om</a></li>
                    <li><a href="{{ path('report') }}">Rapport</a></li>
                    <li><a href="{{ path('lucky_number') }}">Kattlycka</a></li>
                    <li><a href="{{ path('card') }}">Kort</a></li>
                    <li><a href="{{ path('blackjack') }}">Blackjack</a></li>
                </ul>
            </nav>
        </header>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
